* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  gap: 0.2rem;
  padding: 0.4rem;
  border: 2px solid darkcyan;
}

.flex-item:first-child {
  width: 100px;
}

.flex-item:nth-child(2) {
  width: 50px;
}

.flex-item:nth-child(3) {
  width: 80px;
}

.flex-item:last-child {
  width: 150px;
}

.flex-item {
  border: 2px solid darkmagenta;
  /* width: 100px; */
  height: 40px;
  flex: 1;
}
